<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ashley MacWhirter || Portfolio</title>

    <!-- Tab Icon -->
    <link rel="icon" href="./images/icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Megrim|Monda|Stardos+Stencil" rel="stylesheet">

    <!-- Developer languages characters -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!--Style CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">

    <style type="text/css">
      .hidden {display: none;}
    </style>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- JavaScript -->
    <script type="text/javascript" src="./javascript/app.js"></script>
    <script type="text/javascript">
      $("html").addClass("hidden");
      $(document).ready(function (){
        $("html").removeClass("hidden");
      });
    </script>

</head>

<body>
    <header>
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
    </header>
    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#technologies">Technologies</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>

    </div>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">
                <img class="img-responsive center-block logo" alt="ADM" src="./images/admlogo.png" data-holder-rendered="true">
                <pre id="typewriter">
                <span class="var-highlight">var</span> webDeveloper = {
                    name: <span class="string-highlight">'Ashley D MacWhirter'</span>,
                    type: <span class="string-highlight">'Full Stack'</span>,
                    location: <span class="string-highlight">'Atlanta, GA'</span>,
                    skills:[<span class="string-highlight">'JavaScript'</span>,
                                <span class="string-highlight">'HTML'</span>,
                                <span class="string-highlight">'CSS'</span>,
                                <span class="string-highlight">'Node'</span>,
                                <span class="string-highlight">'MongoDB'</span>,
                                <span class="string-highlight">'mySQL'</span>];
                }; </pre>
            </div>
        </div>
    </div>

    <div class="container">
        <section id="about">
            <section class="section about-section">
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <img class="featurette-image img-responsive center-block" alt="ADM Profile Photo" src="./images/admprofile.jpg" data-holder-rendered="true">
                    </div>
                    <div class="col-md-7">
                        <h2 class="section-heading">ABOUT <span class="text-muted"> {at the keys}</span></h2>
                        <p class="lead">Hello! Thanks for stopping in! My name is Ashley MacWhirter, a Full Stack Developer specialising in front-end content production as well as back-end database configuration.</p>

                        <p class="lead">I have always had a great passion for technology and its relationship with our day-to-day lives. This passion lead me to become a BIM (Building Information Modeling) manager in the engineering/construction field, and recently a
                            graduate from the Georgia Tech Coding Bootcamp in July 2017 with a certification in Full Stack Web Development.</p>

                        <p class="lead">Away from the keys, I have a passion for travel, art, music, and the outdoors. Strolling through an art museum, hitting up a classic rock concert, or camping and exploring in my Wrangler with my pup makes for an exciting weekend.</p>

                        <p class="lead">View my projects below and download my resume to the right - Please get in touch with questions, comments, or opportunities! It would be great to hear from you! </p>
                    </div>
                </div>
            </section>
        </section>
        <br>
        <hr>
        <section id="technologies">
            <section class="section technologies-section">
                <div class="row">
                    <h2 class="section-heading"> TECHNOLOGICAL SKILLS <span class="text-muted"> {knowledge}</span></h2>
                    <br>
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <h3>Languages</h3>
                            <hr>
                            <i class="devicon devicon-html5-plain colored" data-toggle="tooltip" data-placement="bottom" title="HTML5"></i>
                            <i class="devicon devicon-css3-plain colored" data-toggle="tooltip" data-placement="bottom" title="CSS3"></i>
                            <i class="devicon devicon-javascript-plain colored" data-toggle="tooltip" data-placement="bottom" title="JavaScript"></i>
                            <i class="devicon devicon-csharp-plain colored" data-toggle="tooltip" data-placement="bottom" title="C#"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <h3>Frameworks/Libraries</h3>
                            <hr>
                            <i class="devicon devicon-bootstrap-plain colored" data-toggle="tooltip" data-placement="bottom" title="Bootstrap"></i>
                            <i class="devicon devicon-d3js-plain colored" data-toggle="tooltip" data-placement="bottom" title="D3"></i>
                            <i class="devicon devicon-jquery-plain colored" data-toggle="tooltip" data-placement="bottom" title="jQuery"></i>
                            <i class="devicon devicon-meteor-plain colored" data-toggle="tooltip" data-placement="bottom" title="Meteor"></i>
                            <i class="devicon devicon-react-original colored" data-toggle="tooltip" data-placement="bottom" title="React"></i>
                            <i class="devicon devicon-nodejs-plain colored" data-toggle="tooltip" data-placement="bottom" title="Node.js"></i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well well-lg">
                            <h3>Technologies</h3>
                            <hr>
                            <i class="devicon devicon-mongodb-plain colored" data-toggle="tooltip" data-placement="bottom" title="MongoDB"></i>
                            <i class="devicon devicon-mysql-plain colored" data-toggle="tooltip" data-placement="bottom" title="mySQL"></i>
                            <i class="devicon devicon-atom-original colored" data-toggle="tooltip" data-placement="bottom" title="Atom"></i>
                            <i class="devicon devicon-github-plain" data-toggle="tooltip" data-placement="bottom" title="GitHub"></i>
                            <i class="devicon devicon-git-plain colored" data-toggle="tooltip" data-placement="bottom" title="Git"></i>
                            <i class="devicon devicon-heroku-plain colored" data-toggle="tooltip" data-placement="bottom" title="Heroku"></i>
                        </div>
                    </div>
                  </div>
                      <h3>Ask me about...</h3>
                          <h3 class="typeTech">
                            <a class="typewrite" data-period="2000" data-type='["JavaScript", "HTML", "CSS", "jQuery", "Node.js", "Bootstrap", "Meteor.js", "React.js", "MERN Stack", "MVC Frameworks", "D3.js", "Handlebars", "MongoDB", "mySQL", "Sequelize", "Webpack", "Mongoose", "Cheerio", "JSON", "REST API", "AJAX", "C#", "GitHub", "GitLab", "Git", "Heroku" ]'>
                              <span class="wrap"></span>
                            </a>
                          </h3>
            </section>
        </section>
        <hr>
        <section id="projects">
            <section class="section projects-section">
                <div class="row">
                    <h2 class="section-heading"> PROJECTS <span class="text-muted"> {experience}</span></h2>
                    <br>
                    <div class="col-xs-6 col-md-6 wow fadeInLeft" data-wow-delay="0.4s">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/bootcruitproject.png" data-toggle="modal" data-target="#projectModal" data-title="BootCruit" data-text="Building the tool to make job hunts easier for fellow developers in Coding Bootcamps, and make the hiring process easier for Recruiters and Hiring Managers. Recruiters view personal profiles of developers displayed though a map and tree format." data-tech="D3, mySQL, JavaScript, Handlebars, Bootstrap, Sequelize" data-link="https://bootcruit.herokuapp.com/" data-git="https://github.com/amacwhirter/Tab-Nabbers"></a>
                    </div>
                    <div class="col-xs-6 col-md-6 wow fadeInRight" data-wow-delay="0.4s">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/toolboxproject.png" data-toggle="modal" data-target="#projectModal" data-title="Toolbox" data-text="Toolbox promotes sharing with your neighbours!" data-tech="Meteor, MongoBD, Mongoose, JavaScript, Less, Bootstrap" data-link="error.html" data-git="https://github.com/amacwhirter/Toolbox"></a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/crystalproject.png" data-toggle="modal" data-target="#projectModal" data-title="Crystals Collector" data-text="A fun and interactive game for web browsers. Coloured gems will be assigned a random number each new game started. Try to match the randomly generated number to the right by adding the unknown gem values together. Don't go over the given value or else you lose!" data-tech="JavaScript, HTML, Bootstrap, CSS, jQuery" data-link="https://admcrystalcollector.herokuapp.com/" data-git="https://github.com/amacwhirter/week-4-game"></a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/trainproject.png" data-toggle="modal" data-target="#projectModal" data-title="Train Schedule" data-text="A train schedule application that incorporates Firebase to host arrival and departure data. This app will retrieve and manipulate this information with Moment.js and will provide up-to-date information about various trains, namely their arrival times and how many minutes remain until they arrive at their station." data-tech="Moment.JS, Firebase, JavaScript, jQuery, Bootstrap, HTML, CSS" data-link="https://admtrainscheduler.herokuapp.com/" data-git="https://github.com/amacwhirter/trainScheduler"></a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/scrapeproject.png" data-title="Scraped Oil" data-toggle="modal" data-target="#projectModal" data-text="A web app that lets users leave comments on the latest news. These articles are not written by users of the app, but instead uses Mongoose and Cheerio to scrape news from another site." data-tech="MongoDB, Mongoose, Cheerio, Node.JS, Express, Handlebars, JavaScript, jQuery, Bootstrap, HTML, CSS" data-link="https://admwebscrape.herokuapp.com/" data-git="https://github.com/amacwhirter/MongoWebScrape"></a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/friendproject.png" data-title="Friend Finder" data-toggle="modal" data-target="#projectModal" data-text="A compatibility-based Friend Finder Basically a dating app -- but for friends! (and maybe more ;) ). This full-stack site will take in results your users' surveys, then compare their answers with those from other users. The app will then display the name and picture of the user with the best overall match." data-tech="Node.JS, Express, JavaScript, jQuery, Bootstrap, HTML, CSS" data-link="https://admfriendfinder.herokuapp.com/" data-git="https://github.com/amacwhirter/FriendFinder"></a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/triviaproject.png" data-title="Crazy Canuck Trivia" data-toggle="modal" data-target="#projectModal" data-text="Test your knowledge of Canada with this timed trivia game! You only have 60 seconds to try and answer all questions!" data-tech="jQuery, JavaScript, HTML, CSS" data-link="error.html" data-git="https://github.com/amacwhirter/TriviaGame-Advanced"></a>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <a class="thumbnail" data-toggle="modal" data-target="#myModal">
                            <img src="./images/giphyproject.png" data-title="Sports Giphy" data-toggle="modal" data-target="#projectModal" data-text="Ever just needed the perfect Gif to describe your mood? This app uses the GIPHY API to make a dynamic web page that populates with gifs of your choice. The GIPHY API is called using AJAX with JavaScript and jQuery used to change the HTML of the site." data-tech="AJAX, JavaScript, jQuery, Bootstrap, HTML, CSS" data-link="error.html" data-git="https://github.com/amacwhirter/GifTastic"></a>
                    </div>
                </div>
            </section>
        </section>
        <hr>
        <section id="contact">
            <section class="section contact-section">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2 class="section-heading"> CONTACT ME <span class="text-muted"> {say hello}</span></h2><br>
                    <p class="lead">Feel free to shout out by any of the methods provided! Would love to hear your questions, comments, or reach out if you'd like to work together!</p>
                    <p class="lead">Send me an email or visit my social network sites like GitHub and LinkedIn by clicking on the blue icon to the right!</p>
                  <!--  <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="exampleInputName2">Name</label>
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail2">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                </div>
                                <div class="form-group ">
                                    <label for="exampleInputText">Your Message</label>
                                    <textarea class="form-control" placeholder="Description"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </form> -->
                            <h4><i class="fa fa-envelope" aria-hidden="true"></i>  contact@amacwhirter.com</h4>
                            <h4><i class="fa fa-map-marker" aria-hidden="true"></i> Atlanta, Georgia</h4><br>
                          </div>

                            <!--Side Icons-->
                          <div id="sidebar">
                            <a href="https://github.com/amacwhirter" class="fa fa-github" aria-hidden="true" target="_blank" data-toggle="tooltip" data-placement="left" title="GitHub"></a>
                            <a href="https://www.linkedin.com/in/amacwhirter/" class="fa fa-linkedin-square" aria-hidden="true" target="_blank" data-toggle="tooltip" data-placement="left" title="LinkedIn"></a>
                            <a href="https://stackoverflow.com/users/7396764/ashley-macwhirter" class="fa fa-stack-overflow" aria-hidden="true" target="_blank" data-toggle="tooltip" data-placement="left" title="StackOverflow"></a>
                            <a href="mailto:contact@amacwhirter.com?Subject=Hello Ashley!" target="_top" class="fa fa-envelope-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Send Me An Email"></a>
                          </div>
            </section>
        </section>
      </div>

        <div class="footer">
            <div class="inner">
                © 2017 Copyright: <a href="/index"> amacwhirter.com </a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="showTitle"> </h4>
                    </div>
                    <div class="modal-body" id="showImg">
                        <!-- here we create the image dynamically -->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="modal-body" id="showBody">
                                <!-- here we create the description dynamically -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="modal-body" id="showTech">
                                <!-- here we create the technology dynamically -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a id="previewGit" class="btn btn-danger" target="_blank">Project GitHub</a>
                        <a id="previewSite" class="btn btn-primary" target="_blank">Preview Site</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- SCRIPTS -->

        <!-- Animations init-->
        <script src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>

</body>

</html>
